.item {
    margin-top: 10px;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: gold;
}
