.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.wrapper {
    padding: 20px;
}

.usersWrapper {
    margin: 20px 0 20px 0;
}

.userWrapper {
    display: flex;
    margin-bottom: 10px;
}

.userElement {
    margin-right: 20px;
}